@page
@model ScheduleManager.Pages.File.ReadModel


<form method="post" enctype="multipart/form-data">
    <label>Enter file path:</label>
    <input type="file" asp-for="UploadedFile" />

    <input type="submit" value="Enter" />
</form>
