@page
@model ScheduleManager.Pages.File.ReadModel


<form method="post">
    <label>Enter file path:</label>
    <input asp-for="FilePath" />

    <input type="submit" value="Enter" />
</form>
