@page
@model ScheduleManager.Pages.Timetable.ChooseOptionModel


<a asp-page="/Timetable/Delete" asp-route-slotId="@Model.slotIdClone">Delete</a>
<a asp-page="/Timetable/Update" asp-route-slotId="@Model.slotIdClone">Update</a>
