@page
@model ScheduleManager.Pages.Timetable.GenerateModel
@using Newtonsoft.Json

<form method="post">
    <labbel>Enter number of week: </labbel>
    <input type="number" asp-for="NumberOfWeek" />
    <br>
    <label>Choose start date</label>
    <input type="date" asp-for="StartDate" />
    <br>
    <button>Submit</button>
</form>

